apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: history-mongodb
  namespace: ajay-ns
spec:
  replicas: 2
  selector: 
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec: 
      containers:
        - name: mongodb
          image: mongodb:latest
          ports:
            - containerPort: 27017
          env:
            - name: MONGODB_URI
              valueFrom:
                configMapKeyRef:
                  name: history-configmap
                  key: MONGODB_URI
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: history-configmap
                  key: PORT

